# -----------------------------------------------------------------------------
# Application & CORS
# -----------------------------------------------------------------------------
NODE_ENV=
SERVICE_NAME=
HOST=
PORT=
WHITELIST=

# -----------------------------------------------------------------------------
# Database
# -----------------------------------------------------------------------------
MONGODB_URI=
AGENDA_COLLECTION=
AGENDA_CONCURRENCY=
AGENDA_PROCESS_EVERY=
